<a href="https://colab.research.google.com/github/YukiAoki-GU/Python_beginners/blob/main/Python%E5%85%A5%E9%96%80%E6%BC%94%E7%BF%921.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q: if文
`a = [1, 2, 3, 4, 5]`のリストをforループで要素を抜き出して，3になったらループを終了する処理をして以下の出力結果になる様にしなさい。
```
# 出力結果：
1
2
3になったので終了します
```

In [2]:
a = [1, 2, 3, 4, 5]
for num in a:
    if num == 3:
        print('3になったので終了します')
        break
    print(num)

1
2
3になったので終了します

---
## Q: if文
1から50までの数字を出力し，数字が2で割り切れるときは「偶数」，3で割り切れるときは「3の倍数」と出力し，2と3の両方で割り切れるときは「2と3の倍数」とする出力をしなさい。
```
# 出力結果：
1
偶数
3の倍数
偶数
5
2と3の倍数
7
偶数
3の倍数
偶数
11
2と3の倍数
13
偶数
3の倍数
偶数
17
2と3の倍数
19
偶数
3の倍数
偶数
23
2と3の倍数
25
偶数
3の倍数
偶数
29
2と3の倍数
31
偶数
3の倍数
偶数
35
2と3の倍数
37
偶数
3の倍数
偶数
41
2と3の倍数
43
偶数
3の倍数
偶数
47
2と3の倍数
49
偶数
```

In [7]:
for i in range(1,51):
  if i % 2 == 0 and i % 3 == 0:
    print('2と3の倍数')
  elif i % 2 == 0:
    print('偶数')
  elif i % 3 == 0:
    print('3の倍数')
  else:
    print(i)

1
偶数
3の倍数
偶数
5
2と3の倍数
7
偶数
3の倍数
偶数
11
2と3の倍数
13
偶数
3の倍数
偶数
17
2と3の倍数
19
偶数
3の倍数
偶数
23
2と3の倍数
25
偶数
3の倍数
偶数
29
2と3の倍数
31
偶数
3の倍数
偶数
35
2と3の倍数
37
偶数
3の倍数
偶数
41
2と3の倍数
43
偶数
3の倍数
偶数
47
2と3の倍数
49
偶数

---
## Q: while文
変数にwhile文を使って，以下の出力を行いなさい。
```
# 出力結果
1
2
3
4
5
```

In [8]:
a = 0
while a < 5:
    a +=1
    print(a)

1
2
3
4
5

---
## Q: 内包表記
`a = [1, 2, 3, 4, 5]`を内包表記を使って以下の出力を行いなさい。
```
# 出力結果
[1, 2, 3, 4, 5]
```

In [9]:
a = [1, 2, 3, 4, 5]
result = [i for i in a]
print(result)

[1, 2, 3, 4, 5]

---
## Q: 内包表記
内包表記を使って`a = [1, 2, 3, 4, 5]`のうち偶数のみを出力しなさい。
```
# 出力結果
[2, 4]
```

In [10]:
a = [1, 2, 3, 4, 5]
result = [i for i in a if i % 2 == 0]
print(result)

[2, 4]

---
## Q: タプル
`a = (1, 2, 3)`と`b=(7, 8, 9)`を結合して，以下の出力をしなさい。
```
# 出力結果
(1, 2, 3, 7, 8, 9)
```

In [11]:
a = (1, 2, 3)
b=(7, 8, 9)
print(a + b)

(1, 2, 3, 7, 8, 9)

---
## Q: タプル
`a = (1, 2, 3)`の2番目の要素を抜き出して以下の出力結果をしなさい
```
# 出力結果
2
```

In [12]:
a = (1, 2, 3)
print(a[1])

2

---
## Q: タプル
`b = ('Tokyo', 'Osaka', 'Nagoya')`の都市名のうち，文字数が最大のものを探し，その都市名を出力しなさい。
```
# 出力結果
Nagoya
```

In [20]:
b = ('Tokyo', 'Osaka', 'Nagoya')
max = 0

for i in b:
    if len(i) > max:
        max = len(i)
        city_name = i

print(city_name)

Nagoya

---
## Q: 辞書
`c = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}`のキーと値をそれぞれ出力しなさい
```
# 出力結果
['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5]
```

In [23]:
c = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(list(c.keys()))
print(list(c.values()))

['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 4, 5]

---
## Q: 辞書
`c = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}`のキーと値を組み合わせたタプルを要素としたリストを出力しなさい。
```
# 出力結果
[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]
```

In [24]:
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(list(c.items()))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

---
## Q: 辞書
`c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}`のキーが'd'の値を出力しなさい。
```
# 出力結果
4
```

In [25]:
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
print(c['d'])

4

---
## Q: 辞書
`c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}`に新しい要素{'f': 6}を追加した結果を出力しなさい。
```
# 出力結果
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
```

In [26]:
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
c['f'] = 6
print(c)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

---
## Q: 辞書
`c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}`のキーを一つずつ取り出して出力しなさい。
```
# 出力結果
a
b
c
d
e

```

In [27]:
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
for ki in c.keys():
    print(ki)

a
b
c
d
e

---
## Q: 辞書
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}の値を一つずつ取り出して出力しなさい。 
```
# 出力結果
1
2
3
4
5
```

In [28]:
c = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
for atai in c.values():
    print(atai)

1
2
3
4
5