<a href="https://colab.research.google.com/github/YukiAoki-GU/Python_beginners/blob/main/Python%E5%85%A5%E9%96%80%E3%83%86%E3%82%AD%E3%82%B9%E3%83%884.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# 4-1 反復(for)
処理を繰り返し行う場合に使います。

書式は以下のようです。

```
for 変数 in 値などの並び:
□□□□実行文
```

シンプルな使い方は以下のようです。

0から始まる変数`num`が1ずつ増え，5になるまで`print()`を繰り返します。

In [ ]:
for num in range(5):
    print(num)

0
1
2
3
4

`range`関数はリスト表示すると以下のようなものです。

In [ ]:
r = range(5)
print(list(r))

[0, 1, 2, 3, 4]

開始の値を決めたいときは次のように書きます。

```
range(開始値, 終了値)
```

例えば0からではなく1から始めたい場合は以下のようです。

In [ ]:
for num in range(1, 5):
    print(num)

1
2
3
4

開始値から増やす値(ステップ値)を決めたいときは次のように書きます。
```
range(開始値, 終了値, ステップ値)
```

例えば，3からステップ2で8までは以下です。

In [ ]:
for num in range(3, 8, 2):
    print(num)

3
5
7

Q: 1から10までの自然数を出力しなさい。

Q: 一桁の奇数を出力しなさい。

Q: 一桁の奇数の合計値を出力しなさい。

Pythonらしい書き方として以下のように表すことができます。

In [ ]:
l = ['トマト', 'きゅうり', 'ナス']
for i in l:
    print(i)

トマト
きゅうり
ナス

上のコードは以下と同じ意味になります。

In [ ]:
l = ['トマト', 'きゅうり', 'ナス']
print(len(l))

for i in range(len(l)):
    print(l[i])

3
トマト
きゅうり
ナス

以下のようにも使えます。

In [ ]:
w = 'こんにちは'
for i in w:
    print(i)

こ
ん
に
ち
は

---
# 4-2 反復(while, break)
繰り返す回数があらかじめ分かっていない場合，`for`文ではなく`while`文を使います。

書式は以下のようです。

```
while 条件:
□□□□実行文(条件がTrueの間実行される)
```

Q: 入力した正の整数から1ずつ引いた値をプラスの間，出力し続けなさい。

何かが起きるまでループを続けたいが，それがいつ起きるかを最初からは分からない場合，それが起きたとき`break`によりループを抜けます。

以下は，入力が何もなくEnterキーを押されるまで，入力を聞かれ続けるコードの例です。

In [ ]:
while True:
       key = input('何も入力せずにEnterキーを押したら終了します')
       if not key:
           break

 Enterキーを押したら終了しますa
 Enterキーを押したら終了しますasdf
 Enterキーを押したら終了しますfda
 Enterキーを押したら終了しますasdf
 Enterキーを押したら終了します

Q. 「私の好きなケーキを当ててみて」と問い，`my_favorite_cakes = ['いちごケーキ', 'チーズケーキ', '抹茶ケーキ']`のリスト中にあるケーキ名以外が入力されるまでは「ハズレ」と出力し，問いを続けるコードを書きなさい。また「降参」と入力された場合もループを抜けられるものとする。

---
# 4-3 リスト型その2(スライス，並び替え，pop，内包表記)

前回学んだリストの続きを勉強しましょう。


## スライス
*   リストの一部を取り出すには`:`(コロン)を使って表せる「スライス」を使います。スライスでは選択範囲の開始位置startと終了位置stopを`[start:stop]`のように書きます。 start  ≤  n  <  stopの範囲が取り出されます。

In [ ]:
#[0:3]を取り出す例
n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(n[0:3])

[0, 1, 2]

Q: `cakes = ['いちごケーキ', 'チーズケーキ', '抹茶ケーキ', 'ガトーショコラ', 'ティラミス', 'モンブラン']`のチーズケーキからティラミスまでを取り出しなさい。

*   startやstopを省略することができます。

In [ ]:
#4未満を取り出す例
n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(n[:4])

[0, 1, 2, 3]

*   `[start:stop:step]`により，増分stepを指定することができます。

In [ ]:
# 偶数番目のケーキだけを取り出す場合
cakes = ['いちごケーキ', 'チーズケーキ', '抹茶ケーキ', 'ガトーショコラ', 'ティラミス', 'モンブラン']
print(cakes[0:6:2])

['いちごケーキ', '抹茶ケーキ', 'ティラミス']

Q: `n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`のうち3の倍数だけを取り出しなさい。

## 並び替え
*   リストを(文字コード順に)並び替えるために、`sorted()`関数があります。

In [ ]:
a = ['ら', 'か', 'た', 'は', 'や', 'わ', 'あ', 'さ', 'な', 'ま']
print(sorted(a))

['あ', 'か', 'さ', 'た', 'な', 'は', 'ま', 'や', 'ら', 'わ']

Q : `n = [8, 4, 3, 9, 2, 5, 6, 1, 7]`を小さい順に並び替えなさい。

## pop()
指定した位置の要素を削除し，その要素の値を取得できます。

例を以下に示します。

```
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(l.pop(0))
# 0

print(l)
# [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(l.pop(3))
# 4

print(l)
# [1, 2, 3, 5, 6, 7, 8, 9]
```

負の値を使って末尾（最後）からの位置を指定することもできる。末尾（最後）は'-1'。

```
print(l.pop(-2))
# 8

print(l)
# [1, 2, 3, 5, 6, 7, 9]
```

引数を省略して位置を指定しない場合は、末尾（最後）の要素を削除する。

```
print(l.pop())
# 9

print(l)
# [1, 2, 3, 5, 6, 7]
```

## 内包表記

内包表記を使うと、ある規則に基づいたリスト等を簡単に生成することができます。

In [ ]:
# 1から9までの整数のリストの例
[x for x in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 一桁の2の倍数の例
[2*n for n in range(1,5)]

[2, 4, 6, 8]

In [ ]:
#　一桁の2の倍数の例2
[n for n in range(1,11) if n % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
#一桁の整数のリストで奇数の時'奇数'と表示する例
[x if x % 2 == 0 else '奇数' for x in range(0,10)]

[0, '奇数', 2, '奇数', 4, '奇数', 6, '奇数', 8, '奇数']

---
# 演習問題4-1
空のリスト`l`を作り，`for`， `append`を使うことで`l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`を作りなさい。

# 演習問題4-2
上のリストに格納されている数値を足し合わせるコードを作りなさい。

# 演習問題4-3
`l2 = [1, 5, 3, 2, 4, 7, 9, 6, 8]`内の最大値を見つけるコードを作りなさい。

# 演習問題4-4
以下を満たすリストを生成する内包表記を書きなさい。
- 1以上100以下の4の倍数のリスト
- `l = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]`のうち3の倍数のリスト